.cart {
  background-color: brown;
}
.cart h3 {
  text-align: center;
}

.cart-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.cart-info img {
  width: 60px;
  height: 60px;
  border-radius: 10px 10px;
  padding-left: 10px;
}

.cart-info p {
  margin: 0 20px;
}

.choose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.choose-for-me-btn {
  width: 232px;
  height: 48px;
  margin: 10px;
  border-radius: 4px;
  background: rgba(255, 153, 0, 1);
  border: 0;
  cursor: pointer;
}
.choose-again-btn {
  width: 232px;
  height: 48px;
  margin: 10px;
  border-radius: 4px;
  background: rgba(255, 48, 48, 1);
  border: 0;
  cursor: pointer;
}
